In [1]:
import pandas as pd

## Data Loading

In [2]:
df = pd.read_csv("trending.csv")

In [3]:
num_rows, num_cols = df.shape
print("num of rows:", num_rows)
print("num of cols:", num_cols)

num of rows: 14523
num of cols: 26

In [5]:
df.head()

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,...,True,True,NaN,NaN,7806846.0,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,...,False,True,NaN,NaN,885038.0,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,...,False,True,NaN,NaN,889708.0,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,...,False,True,NaN,NaN,1006854.0,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,...,False,True,NaN,NaN,6275035.0,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00

In [7]:
df.tail(10)

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
14513,2021-05-22T10:00:33Z,UCdH-Rw8RBSBHwYWZtfCu1Qw,KUALAT HABIS NGETAWAIN ORANG,Yang penting masih hidup ya gwe gengs üôÇüôÇ\n\nCa...,NaN,NaN,NaN,Fergie Jnx,"['fergie jnx', 'egi', 'emak egi', 'egi kecil',...",1,...,True,True,NaN,NaN,140964.0,17265.0,78.0,0,944.0,2021-05-27 06:00:41.444624+00:00
14514,2021-05-19T13:22:31Z,UChO8h2G8UjOVc081rgYU8XQ,Bella Poarch - Build a B*tch (Lyrics),‚ô´ Bella Poarch - Build a B*tch\nStream/Downloa...,NaN,NaN,NaN,Vibe Music,"['Build A B Lyrics', 'Bella Poarch Build A B',...",10,...,False,False,NaN,"['CU', 'IR', 'KP', 'SY']",881956.0,19412.0,291.0,0,1076.0,2021-05-27 06:00:41.444631+00:00
14515,2021-05-08T10:12:03Z,UCRhmWtGmW2lJ_CNGXP6hvIQ,Bagi Aqua (Ini Bukan Aqua?) - #Shorts #ArmanVe...,Benar kan cara bagi Aquanya? #SalamVesona\n\nB...,NaN,NaN,NaN,Arman Vesona,NaN,24,...,False,True,NaN,NaN,3438944.0,87724.0,6377.0,0,572.0,2021-05-27 06:00:41.444638+00:00
14516,2021-05-21T13:00:17Z,UCQrLfLd8y0ncipsXkb_w_SQ,ECKO SHOW X JACKPOOL - Panik Gak? [ Lyric Vide...,"Download ""PANIK GAK?"" disini :\n???link coming...",NaN,NaN,NaN,ECKO SHOW,"['ecko show', 'jack pool', 'jackpool', 'panik ...",10,...,False,True,NaN,NaN,307004.0,23818.0,272.0,0,2420.0,2021-05-27 06:00:41.444645+00:00
14517,2021-05-18T14:00:15Z,UCyLHKUjX_fy8akafmRMr-PA,[MV] Ailee (ÏóêÏùºÎ¶¨) - Breaking Down | Ïñ¥Îäê ÎÇ† Ïö∞Î¶¨ Ïßë ÌòÑ...,tvN ÏõîÌôî ÎìúÎùºÎßà ‚ÄòÏñ¥Îäê ÎÇ† Ïö∞Î¶¨ Ïßë ÌòÑÍ¥ÄÏúºÎ°ú Î©∏ÎßùÏù¥ Îì§Ïñ¥ÏôîÎã§(Ïù¥Ìïò Î©∏Îßù)‚Äô OS...,NaN,NaN,NaN,MUSIC&NEW ÎÆ§ÏßÅÏï§Îâ¥,"['kpop', 'song', 'music&new', 'ÎÆ§ÏßÅÏï§Îâ¥', 'OST', '...",10,...,True,True,NaN,NaN,998135.0,49875.0,117.0,0,1551.0,2021-05-27 06:00:41.444651+00:00
14518,2021-05-18T14:59:58Z,UCzgxx_DM2Dcb9Y1spb9mUJA,"JIHYO PERFORMANCE PROJECT ""Crown (Camila Cabel...","JIHYO PERFORMANCE PROJECT ""Crown (Camila Cabel...",NaN,NaN,NaN,TWICE,"['TWICE', 'Ìä∏ÏôÄÏù¥Ïä§', 'PerformanceProject', 'ÌçºÌè¨Î®ºÏä§ÌîÑ...",10,...,False,False,NaN,"['CU', 'IR', 'KP', 'SY']",5718308.0,805799.0,10622.0,0,72774.0,2021-05-27 06:00:41.444658+00:00
14519,2021-05-24T09:48:50Z,UC8nOUvbfUqYRufAAFBFz72g,SEMALEMAN DALEM MOBIL DITENGAH KUBURAN BARENG ...,Download di sini ya : https://vt.tiktok.com/ZS...,NaN,NaN,NaN,RIYAN PEOTT,"['prank', 'pacar', 'borong perabotan', 'rumah ...",24,...,False,True,NaN,NaN,67791.0,5398.0,102.0,0,743.0,2021-05-27 06:00:41.444666+00:00
14520,2021-05-13T07:00:06Z,UCdpxBSzxXGz_J4K30YGvk_Q,HELENA LIM BUKA-BUKAAN SAMA BOY! CRAZY RICH PI...,-------------\nFind me on other Social Media p...,NaN,NaN,NaN,Boy William,"['boy william', 'nebengboy', 'dibalik pintu', ...",24,...,False,True,NaN,NaN,2424980.0,48838.0,1352.0,0,3034.0,2021-05-27 06:00:41.444673+00:00
14521,2021-05-21T10:29:06Z,UCwIzd032IQjvJ9larkdcwgg,SIAPA YANG GAMBARNYA LEBIH BAGUS? || Tantangan...,"Hai, sobat artistik!\n\nSelamat datang di duni...",NaN,NaN,NaN,123 GO! GOLD Indonesian,"['123', '123 go', '123go', '123 go gold', '123...",24,...,False,True,NaN,NaN,2014523.0,20507.0,2333.0,0,977.0,2021-05-27 06:00:41.444680+00:00
14522,2021-05-22T06:00:09Z,UCfine-VxsozjW6FnssQkwLg,"AKU BAHAGIA, SELAMAT DATANG QUEEN SOPHIA DI KE...",Alohaaaa semua...... Selamat datang di Ivan Gu...,NaN,NaN,NaN,Ivan Gunawan,NaN,26,...,False,True,NaN,NaN,225558.0,10004.0,105.0,0,873.0,2021-05-27 06:00:41.444687+00:00

## Data types and general information of the data

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14523 entries, 0 to 14522
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   publish_time       14523 non-null  object
 1   channel_id         14523 non-null  object
 2   title              14523 non-null  object
 3   description        14246 non-null  object
 4   thumbnail_url      0 non-null      float64
 5   thumbnail_width    0 non-null      float64
 6   thumbnail_height   0 non-null      float64
 7   channel_name       14523 non-null  object
 8   tags               12983 non-null  object
 9   category_id        14523 non-null  int64
 10  live_status        14523 non-null  object
 11  local_title        14523 non-null  object
 12  local_description  14246 non-null  object
 13  duration           14523 non-null  object
 14  dimension          14523 non-null  object
 15  definition         14523 non-null  object
 16  caption            14523 non-null  bool
 17  license_status     14523 non-null  bool
 18  allowed_region     493 non-null    object
 19  blocked_region     714 non-null    object
 20  view               14515 non-null  float64
 21  like               14312 non-null  float64
 22  dislike            14312 non-null  float64
 23  favorite           14523 non-null  int64
 24  comment            14407 non-null  float64
 25  trending_time      14523 non-null  object
dtypes: bool(2), float64(7), int64(2), object(15)
memory usage: 2.7+ MB

In [9]:
df.describe()

,thumbnail_url,thumbnail_width,thumbnail_height,category_id,view,like,dislike,favorite,comment
count,0.0,0.0,0.0,14523.000000,1.451500e+04,1.431200e+04,14312.000000,14523.0,1.440700e+04
mean,NaN,NaN,NaN,18.668250,2.831619e+06,1.401115e+05,3272.803382,0.0,1.947793e+04
std,NaN,NaN,NaN,7.332783,8.589446e+06,5.385763e+05,12569.324616,0.0,1.533488e+05
min,NaN,NaN,NaN,1.000000,1.752900e+04,1.600000e+01,0.000000,0.0,0.000000e+00
25%,NaN,NaN,NaN,10.000000,3.259770e+05,7.291500e+03,176.000000,0.0,7.215000e+02
50%,NaN,NaN,NaN,23.000000,9.156800e+05,2.292100e+04,600.500000,0.0,2.408000e+03
75%,NaN,NaN,NaN,24.000000,2.321332e+06,7.876275e+04,2028.000000,0.0,8.092000e+03
max,NaN,NaN,NaN,29.000000,2.265941e+08,1.539527e+07,392340.000000,0.0,6.533968e+06

In [5]:
with pd.option_context("display.max.columns", None, "display.precision", 2):
    display(df.head())

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,live_status,local_title,local_description,duration,dimension,definition,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,none,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",PT5M7S,2d,hd,True,True,NaN,NaN,7.81e+06,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,none,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",PT42M30S,2d,hd,False,True,NaN,NaN,8.85e+05,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,none,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,PT46M43S,2d,hd,False,True,NaN,NaN,8.90e+05,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,none,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,PT45M59S,2d,hd,False,True,NaN,NaN,1.01e+06,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,none,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",PT5M12S,2d,hd,False,True,NaN,NaN,6.28e+06,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00

In [6]:
df.describe(include="object")

,publish_time,channel_id,title,description,channel_name,tags,live_status,local_title,local_description,duration,dimension,definition,allowed_region,blocked_region,trending_time
count,14523,14523,14523,14246,14523,12983,14523,14523,14246,14523,14523,14523,493,714,14523
unique,3386,1092,3458,3313,1093,2474,1,3458,3313,1507,1,2,30,81,14523
top,2021-04-01T09:00:15Z,UCYk4LJI0Pr6RBDWowMm-KUw,Top Lagu Pop Indonesia Terbaru 2021 Hits Pilih...,Talk show malam yang akan memberikan informasi...,Deddy Corbuzier,"['123', '123 go', '123go', '123 go gold', '123...",none,Top Lagu Pop Indonesia Terbaru 2021 Hits Pilih...,Talk show malam yang akan memberikan informasi...,PT4M14S,2d,hd,['ID'],"['IO', 'KP', 'SS']",2021-03-25 11:22:57.736583+00:00
freq,25,147,35,62,147,106,14523,35,62,113,14523,14323,232,111,1

In [7]:
df.describe(include="all")

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,...,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
count,14523,14523,14523,14246,0.0,0.0,0.0,14523,12983,14523.000000,...,14523,14523,493,714,1.451500e+04,1.431200e+04,14312.000000,14523.0,1.440700e+04,14523
unique,3386,1092,3458,3313,NaN,NaN,NaN,1093,2474,NaN,...,2,2,30,81,NaN,NaN,NaN,NaN,NaN,14523
top,2021-04-01T09:00:15Z,UCYk4LJI0Pr6RBDWowMm-KUw,Top Lagu Pop Indonesia Terbaru 2021 Hits Pilih...,Talk show malam yang akan memberikan informasi...,NaN,NaN,NaN,Deddy Corbuzier,"['123', '123 go', '123go', '123 go gold', '123...",NaN,...,False,True,['ID'],"['IO', 'KP', 'SS']",NaN,NaN,NaN,NaN,NaN,2021-03-25 11:22:57.736583+00:00
freq,25,147,35,62,NaN,NaN,NaN,147,106,NaN,...,12507,13675,232,111,NaN,NaN,NaN,NaN,NaN,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.668250,...,NaN,NaN,NaN,NaN,2.831619e+06,1.401115e+05,3272.803382,0.0,1.947793e+04,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.332783,...,NaN,NaN,NaN,NaN,8.589446e+06,5.385763e+05,12569.324616,0.0,1.533488e+05,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,1.752900e+04,1.600000e+01,0.000000,0.0,0.000000e+00,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,...,NaN,NaN,NaN,NaN,3.259770e+05,7.291500e+03,176.000000,0.0,7.215000e+02,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,...,NaN,NaN,NaN,NaN,9.156800e+05,2.292100e+04,600.500000,0.0,2.408000e+03,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.000000,...,NaN,NaN,NaN,NaN,2.321332e+06,7.876275e+04,2028.000000,0.0,8.092000e+03,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.000000,...,NaN,NaN,NaN,NaN,2.265941e+08,1.539527e+07,392340.000000,0.0,6.533968e+06,NaN

## Summary statistics of numerical and categorical columns

In [6]:
with pd.option_context("display.max.columns", None, "display.precision", 2):
    display(df.head())

,publish_time,channel_id,title,description,thumbnail_url,thumbnail_width,thumbnail_height,channel_name,tags,category_id,live_status,local_title,local_description,duration,dimension,definition,caption,license_status,allowed_region,blocked_region,view,like,dislike,favorite,comment,trending_time
0,2021-02-05T09:00:34Z,UCEf_Bc-KVd7onSeifS3py9g,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",NaN,NaN,NaN,SMTOWN,NaN,10,none,aespa ÏóêÏä§Ìåå 'Forever (ÏïΩÏÜç)' MV,"aespa's new single ""Forever"" is out!\nListen a...",PT5M7S,2d,hd,True,True,NaN,NaN,7.81e+06,857902.0,24078.0,0,94961.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,UCYEa4_MC7OFjcWrO6SO-u8g,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",NaN,NaN,NaN,Indonesia Lawyers Club,"['tvone', 'tv one', 'tvonenews', 'indonesia la...",25,none,[FULL] Siapa di Balik Kudeta AHY? | Dua Sisi t...,"Jakarta, https://www.tvonenews.com - Ketua umu...",PT42M30S,2d,hd,False,True,NaN,NaN,8.85e+05,6765.0,1263.0,0,6365.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,UCu12RxQjRQyh79YBYvEDkOg,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,NaN,NaN,NaN,Motomobi,"['MotoMobi', 'Mobil', 'motor', 'review', 'indo...",2,none,CABRIOLET CHALLENGE: TANTANGAN MENGGODA (7/12),Road Party Season 2: Cabriolet Challenge\n\nEp...,PT46M43S,2d,hd,False,True,NaN,NaN,8.90e+05,47895.0,532.0,0,8785.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,UCCuzDCoI3EUOo_nhCj4noSw,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,NaN,NaN,NaN,yb,NaN,20,none,With Windah Basudara & Hans,Join this channel to get access to perks:\nhtt...,PT45M59S,2d,hd,False,True,NaN,NaN,1.01e+06,91973.0,3967.0,0,12957.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,UC14UlmYlSNiQCBe9Eookf_A,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",NaN,NaN,NaN,FC Barcelona,"['FC Barcelona', 'ÿ®ÿ±ÿ¥ŸÑŸàŸÜÿ©ÿå', 'F√∫tbol', 'FUTBOL...",17,none,ü§Ø LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada ...,"With just two minutes to play, Bar√ßa looked to...",PT5M12S,2d,hd,False,True,NaN,NaN,6.28e+06,218131.0,4289.0,0,12799.0,2021-02-07 05:46:51.832730+00:00

In [14]:
df.columns

Index(['publish_time', 'channel_id', 'title', 'description', 'thumbnail_url',
       'thumbnail_width', 'thumbnail_height', 'channel_name', 'tags',
       'category_id', 'live_status', 'local_title', 'local_description',
       'duration', 'dimension', 'definition', 'caption', 'license_status',
       'allowed_region', 'blocked_region', 'view', 'like', 'dislike',
       'favorite', 'comment', 'trending_time'],
      dtype='object')

In [7]:
print(type(df.columns))
print(df.columns)

<class 'pandas.core.indexes.base.Index'>
Index(['publish_time', 'channel_id', 'title', 'description', 'thumbnail_url',
       'thumbnail_width', 'thumbnail_height', 'channel_name', 'tags',
       'category_id', 'live_status', 'local_title', 'local_description',
       'duration', 'dimension', 'definition', 'caption', 'license_status',
       'allowed_region', 'blocked_region', 'view', 'like', 'dislike',
       'favorite', 'comment', 'trending_time'],
      dtype='object')

In [8]:
print(df.dtypes)

publish_time          object
channel_id            object
title                 object
description           object
thumbnail_url        float64
thumbnail_width      float64
thumbnail_height     float64
channel_name          object
tags                  object
category_id            int64
live_status           object
local_title           object
local_description     object
duration              object
dimension             object
definition            object
caption                 bool
license_status          bool
allowed_region        object
blocked_region        object
view                 float64
like                 float64
dislike              float64
favorite               int64
comment              float64
trending_time         object
dtype: object

In [9]:
df["category_id"].value_counts()

24    4409
10    3653
25    1572
22    1307
17    1132
1      519
26     502
23     413
2      248
20     246
27     141
29     123
28     117
15      85
19      56
Name: category_id, dtype: int64

In [10]:
df["channel_name"].value_counts()

Deddy Corbuzier    147
TRANS7 OFFICIAL    145
Indonesian Idol    128
SMTOWN             123
KOMPASTV           123
                  ...
Bayu Skak            1
New Home Items       1
Lagu malaysia        1
SONU PAII            1
SunnydahyeIn         1
Name: channel_name, Length: 1093, dtype: int64

In [5]:
df[["channel_name", "view"]].value_counts()

channel_name             view
On Demand News           1253519.0    2
ANISA RAHMA              382125.0     2
123 GO! GOLD Indonesian  8881278.0    2
Bangka Pos Official      408637.0     2
Arirang News             1177597.0    2
                                     ..
Ridwan Hanif Rahmadi     773383.0     1
                         723144.0     1
                         711026.0     1
                         698823.0     1
#temantapimenikah        151666.0     1
Length: 14494, dtype: int64

In [12]:
summary_cols = ["publish_time", "channel_name", "category_id", "view", "like", "dislike", "trending_time"]
df_summary = df[summary_cols].copy()
df_summary

,publish_time,channel_name,category_id,view,like,dislike,trending_time
0,2021-02-05T09:00:34Z,SMTOWN,10,7806846.0,857902.0,24078.0,2021-02-07 05:46:51.832614+00:00
1,2021-02-04T15:54:08Z,Indonesia Lawyers Club,25,885038.0,6765.0,1263.0,2021-02-07 05:46:51.832649+00:00
2,2021-02-06T03:00:22Z,Motomobi,2,889708.0,47895.0,532.0,2021-02-07 05:46:51.832664+00:00
3,2021-02-05T20:26:08Z,yb,20,1006854.0,91973.0,3967.0,2021-02-07 05:46:51.832678+00:00
4,2021-02-03T23:14:54Z,FC Barcelona,17,6275035.0,218131.0,4289.0,2021-02-07 05:46:51.832730+00:00
...,...,...,...,...,...,...,...
14518,2021-05-18T14:59:58Z,TWICE,10,5718308.0,805799.0,10622.0,2021-05-27 06:00:41.444658+00:00
14519,2021-05-24T09:48:50Z,RIYAN PEOTT,24,67791.0,5398.0,102.0,2021-05-27 06:00:41.444666+00:00
14520,2021-05-13T07:00:06Z,Boy William,24,2424980.0,48838.0,1352.0,2021-05-27 06:00:41.444673+00:00
14521,2021-05-21T10:29:06Z,123 GO! GOLD Indonesian,24,2014523.0,20507.0,2333.0,2021-05-27 06:00:41.444680+00:00
14522,2021-05-22T06:00:09Z,Ivan Gunawan,26,225558.0,10004.0,105.0,2021-05-27 06:00:41.444687+00:00

In [11]:
df_summary[df_summary["channel_name"] == "SMTOWN"]

      channel_name  category_id        view       like  dislike
0           SMTOWN           10   7806846.0   857902.0  24078.0
18          SMTOWN           10   1926293.0   274399.0   6301.0
200         SMTOWN           10   8535337.0   880061.0  26084.0
219         SMTOWN           10   1936376.0   274844.0   6327.0
402         SMTOWN           10   9745275.0   927749.0  29544.0
...            ...          ...         ...        ...      ...
13966       SMTOWN           10  84903561.0  2605165.0  39265.0
14142       SMTOWN           10  79332005.0  1788357.0  66371.0
14182       SMTOWN           10  85962829.0  2626361.0  39584.0
14345       SMTOWN           10  80349313.0  1805943.0  67276.0
14391       SMTOWN           10  86872717.0  2650727.0  40005.0

[123 rows x 5 columns]

In [6]:
df_summary.loc[
    (df_summary.view >= 200000000)
].value_counts()

channel_name  category_id  view         like        dislike
HYBE LABELS   10           226594054.0  15395269.0  111539.0    1
                           217255111.0  15133947.0  97798.0     1
                           200458843.0  14814232.0  82431.0     1
dtype: int64

In [10]:
df_summary.loc[
    (df_summary.view <= 18000)
].value_counts()

channel_name  category_id  view     like   dislike
ANTV Klik     24           17529.0  163.0  83.0       1
dtype: int64

## Number of unique channels or videos, overall average comments, likes, views, etc.

In [24]:
df["channel_name"].nunique()

1093

In [25]:
df["channel_name"].unique()

array(['SMTOWN', 'Indonesia Lawyers Club', 'Motomobi', ...,
       'Khalid Basalamah Official', 'Hirotada Radifan', 'RIYAN PEOTT'],
      dtype=object)

In [26]:
df["channel_name"].value_counts().index

Index(['Deddy Corbuzier', 'TRANS7 OFFICIAL', 'Indonesian Idol', 'SMTOWN',
       'KOMPASTV', 'WARINTIL OFFICIAL', '123 GO! GOLD Indonesian', 'Indosiar',
       '123 GO LIKE! Indonesian', 'TonightShowNet',
       ...
       'Geolive', 'Bruno Mars', 'TODAYonline', 'NiasiscaWRD',
       'Kompas TV Kupang', 'Bayu Skak', 'New Home Items', 'Lagu malaysia',
       'SONU PAII', 'SunnydahyeIn'],
      dtype='object', length=1093)

In [18]:
df["comment"].nunique()

8051

In [19]:
df["comment"].unique()

array([94961.,  6365.,  8785., ...,  4810., 72774.,  3034.])

In [20]:
df["comment"].value_counts().index

Float64Index([     0.0,      1.0,      2.0,      8.0,    126.0,      3.0,
                 109.0,    487.0,     79.0,     86.0,
              ...
               12518.0,   7486.0,  49888.0,  28930.0,   3665.0,   3178.0,
                2434.0, 130312.0,  30061.0,  12584.0],
             dtype='float64', length=8051)

In [21]:
df["like"].nunique()

12898

In [22]:
df["like"].unique()

array([857902.,   6765.,  47895., ...,  48838.,  20507.,  10004.])

In [23]:
df["like"].value_counts().index

Float64Index([  1217.0,   3129.0,   1872.0,   1726.0,   1822.0,   1413.0,
                2336.0,   1142.0,   1554.0,   1328.0,
              ...
              382417.0,  74752.0,   1308.0,  32512.0,    580.0,   3284.0,
              555725.0, 143444.0,  40995.0,   7936.0],
             dtype='float64', length=12898)

In [27]:
df["view"].nunique()

14454

In [28]:
df["view"].unique()

array([7806846.,  885038.,  889708., ..., 2424980., 2014523.,  225558.])

In [29]:
df["view"].value_counts().index

Float64Index([  174888.0,  1292241.0,   130356.0,  1136591.0,  2699055.0,
                131514.0,    58625.0,  1292845.0,  1253519.0,  1043269.0,
              ...
                161154.0,  2709525.0,   161153.0,   305921.0,   972286.0,
               3889133.0,  2578411.0, 59697455.0,   939510.0,    22528.0],
             dtype='float64', length=14454)

## Grouping based on channels, trending date, etc., and aggregate on average, median, etc.

In [34]:
df.groupby("channel_name")[["view", "like", "dislike", "publish_time"]].sum()

                                                   view       like  dislike
channel_name
#temantapimenikah                              151666.0     8887.0     35.0
(G)I-DLE (Ïó¨Ïûê)ÏïÑÏù¥Îì§ (Official YouTube Channel)  50244590.0  2564565.0  10895.0
1 vs 9999                                     3759019.0    12729.0   3913.0
10 News First                                22675342.0   223457.0  27381.0
100kpj com                                      93024.0     1158.0     41.0
...                                                 ...        ...      ...
Ï∞¨Ïö∞ÏÇ¥Ïù¥                                           495554.0    96442.0     94.0
Ï±ÑÎÑê Ïã≠Ïò§Ïïº                                       85398536.0  4397728.0  29123.0
ÏµúÏãúÏõê Siwon Choi                                1060384.0   134408.0    256.0
ÌÇ§Ïù¥Ïä§Ìä∏ KEYEAST official                         1727907.0   130107.0    446.0
ÌòÄÎãàÏΩ§Î≥¥ TV                                       1446344.0   268274.0    333.0

[1093 rows x 3 columns]

In [35]:
df.groupby("channel_name")[["publish_time", "trending_time"]].sum()

,publish_time,trending_time
channel_name,,
#temantapimenikah,2021-02-01T10:00:15Z,2021-02-07 05:46:51.834957+00:00
(G)I-DLE (Ïó¨Ïûê)ÏïÑÏù¥Îì§ (Official YouTube Channel),2021-05-13T09:00:31Z2021-05-13T09:00:31Z2021-0...,2021-05-15 06:00:40.636700+00:002021-05-16 12:...
1 vs 9999,2021-05-22T06:52:37Z2021-05-22T06:52:37Z2021-0...,2021-05-23 06:00:47.664976+00:002021-05-24 06:...
10 News First,2021-05-14T08:45:45Z2021-05-13T00:10:34Z2021-0...,2021-05-15 06:00:40.635993+00:002021-05-15 06:...
100kpj com,2021-04-21T10:35:33Z2021-04-21T10:35:33Z,2021-04-22 13:55:37.235747+00:002021-04-23 08:...
...,...,...
Ï∞¨Ïö∞ÏÇ¥Ïù¥,2021-04-16T09:00:04Z2021-04-16T09:00:04Z,2021-04-18 07:01:28.976920+00:002021-04-19 03:...
Ï±ÑÎÑê Ïã≠Ïò§Ïïº,2021-05-07T14:04:23Z2021-05-07T14:28:42Z2021-0...,2021-05-14 12:56:08.335182+00:002021-05-14 12:...
ÏµúÏãúÏõê Siwon Choi,2021-02-05T10:00:09Z2021-02-05T10:00:09Z2021-0...,2021-02-07 05:46:51.834535+00:002021-02-07 12:...
ÌÇ§Ïù¥Ïä§Ìä∏ KEYEAST official,2021-02-04T09:00:16Z2021-02-04T09:00:16Z2021-0...,2021-02-07 05:46:51.834845+00:002021-02-07 12:...
ÌòÄÎãàÏΩ§Î≥¥ TV,2021-03-30T11:00:01Z2021-03-30T11:00:01Z2021-0...,2021-04-01 15:45:04.282401+00:002021-04-02 09:...

In [37]:
df.loc[(df["category_id"] == 10) & (df["channel_name"].str.startswith("SM")),
      ["channel_name", "category_id", "view"]                              
      ]

      channel_name  category_id        view
0           SMTOWN           10   7806846.0
18          SMTOWN           10   1926293.0
200         SMTOWN           10   8535337.0
219         SMTOWN           10   1936376.0
402         SMTOWN           10   9745275.0
...            ...          ...         ...
13966       SMTOWN           10  84903561.0
14142       SMTOWN           10  79332005.0
14182       SMTOWN           10  85962829.0
14345       SMTOWN           10  80349313.0
14391       SMTOWN           10  86872717.0

[131 rows x 3 columns]

In [38]:
df_smtown_topview = df_summary[
    (df_summary["channel_name"] == "SMTOWN")
    & (df_summary.like > df_summary.dislike)
]

In [39]:
df_smtown_topview.sort_values(["like", "dislike"], ascending=False)

,publish_time,channel_name,category_id,view,like,dislike,trending_time
14391,2021-05-10T09:02:33Z,SMTOWN,10,86872717.0,2650727.0,40005.0,2021-05-27 06:00:41.443693+00:00
14182,2021-05-10T09:02:33Z,SMTOWN,10,85962829.0,2626361.0,39584.0,2021-05-26 06:00:47.429853+00:00
13966,2021-05-10T09:02:33Z,SMTOWN,10,84903561.0,2605165.0,39265.0,2021-05-25 06:01:04.439292+00:00
13752,2021-05-10T09:02:33Z,SMTOWN,10,83680705.0,2579027.0,38938.0,2021-05-24 06:01:09.120831+00:00
13545,2021-05-10T09:02:33Z,SMTOWN,10,82336687.0,2548042.0,38510.0,2021-05-23 06:00:47.664613+00:00
...,...,...,...,...,...,...,...
1055,2021-02-04T09:00:09Z,SMTOWN,10,1973338.0,274419.0,6407.0,2021-02-10 12:45:19.590650+00:00
18,2021-02-04T09:00:09Z,SMTOWN,10,1926293.0,274399.0,6301.0,2021-02-07 05:46:51.833035+00:00
840,2021-02-04T09:00:09Z,SMTOWN,10,1968092.0,274245.0,6386.0,2021-02-09 11:48:43.133502+00:00
636,2021-02-04T09:00:09Z,SMTOWN,10,1966228.0,274200.0,6383.0,2021-02-09 07:59:40.052315+00:00
431,2021-02-04T09:00:09Z,SMTOWN,10,1956708.0,273990.0,6359.0,2021-02-08 11:56:45.332620+00:00